* {
    margin: 0%;
    padding: 0%;
    border: 0%;
}

h1 {
    background-color:darksalmon;
    margin-bottom: 30px;
    
}


body {
    background-color:blanchedalmond;
}

h1 {
    font-size:xx-large;
    text-align: center;
    font-style: oblique;

}

p {
    background-color:blanchedalmond;
    text-align: center;
    margin-top: 15px;

}

img {
    width: 30%;
    margin: 5%;
    border: 2px solid;
    border-radius: 15%;
    text-align: center;
}

div{
    position: relative;
    justify-content: center;
    display: block;
    
}

p {
    font-size: large;
    margin-bottom: 20px;
    text-align: center;
}
#Colorir{
    position: relative;
    color:black;
}

#ColorirP2{
    color:darkgreen;
}

button{

    background-color:darksalmon;
    border-radius: 10px;
    margin: 20px;
    bottom: 100px;
    width: 200px;
    font-size: large;
    
}
h2{
    text-align: center;
}

h3{
    text-align: center;
}
nav{
    text-align: center;
}

nav:hover{
    color: bisque;
    font-size: 20px;
}
.Ajustar{
    margin: 20px;
    width: auto;
    border-radius: 20%;
    text-align: center;
    
}

#bottom-2{
    display: block;
    margin: auto;
    width: max-content;
}

#img-ajuste{
    text-align: center;
}

.menu{
    list-style-type:none ;
    display: flex;
    background-color: darksalmon;
    font-style: oblique;
   
}

.menu ul{
    list-style-type: none;
    display: flex;
    overflow-x: auto;
}

.menu li{
    margin: 0 2%;
    padding: 20px 2px 10px 6px;
}

.menu a{
    text-decoration: none;
    color: black;
    
}
.menu a:hover{
    background-color:salmon;
    color:bisque;
}

.aheader{
    text-decoration: none;
    color: black;
    border: 3px;
    border-radius: 10px;
    background-color: darksalmon;
    transition: 0.5s;
    padding: 0.2px;
    font-size: large;
    width:max-content;
    display: block;
    margin: 10px;
}

.footer{
    width: 99.4%;
    background-color:darksalmon;
    padding: 5px;
    display: flex;
    justify-content: center;
    color: antiquewhite;
    text-align: center;
    flex-direction: column;
}

#menu2{
    list-style-type:none ;
    display: flex;
    background-color: darksalmon;
    font-style: oblique;
    margin: auto;
    width: max-content;
    border-radius: 20px;
}
