p{
    background-color:darksalmon;
}

h1 {
    background-color:darksalmon;
}


body {
    background-color:blanchedalmond;
}

h1 {
    font-size:xx-large;
    text-align: center;
    font-style: oblique;
}

p {
    background-color:blanchedalmond;
    text-align: center;
}

img {
    width: 30%;
    margin: 5%;
    border: 2px solid;
    border-radius: 15%;
    text-align: center;
}

div{
    position: relative;
    justify-content: center;
    display: block;
    
}

p {
    font-size: large;
    margin-bottom: 20px;
    text-align: center;
}
#Colorir{
    position: relative;
    color:black;
}

#ColorirP2{
    color:darkgreen;
}

button{

    background-color:burlywood;
    border-radius: 10px;
    margin: 20px;
    bottom: 100px;
    width: 200px;
    font-size: large;
    
}
h2{
    text-align: center;
}

h3{
    text-align: center;
}
nav{
    text-align: center;
}

nav:hover{
    color: bisque;
    font-size: 20px;
}
.Ajustar{
    margin: 20px;
    width: auto;
    border-radius: 20%;
    
}

#bottom-1{
    display: block;
    margin: auto;
    width: max-content;
}
#bottom-2{
    display: block;
    margin: auto;
    width: max-content;
}
#img-ajuste{
    text-align: center;
}

.menu{
    list-style-type:none ;
    display: flex;
    
}

.aheader{
    padding: 30px;
    text-decoration: none;
    border:solid 2px;
    color: black;
    background-color:darksalmon;
    font-size: medium;
    width:max-content;
    display: block;
    margin: 10px;
    border-radius: 30px;
    
}
