p{
    background-color:darksalmon;
}

h1 {
    background-color:darksalmon;
}


body {
    background-color:blanchedalmond;
}

h1 {
    font-size:xx-large;
    text-align: center;
    font-style: oblique;
}

p {
    background-color:blanchedalmond;
}

img {
    width: 30%;
    margin: 5%;
    border: 2px solid;
    border-radius: 15%;
}
